@import 'minireset.css/minireset';

html {
    font-size: 16px;
}

body {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.init-form {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.1);
}

// Resumen de las fechas de baja
#planning-resume {
    padding-top: 1rem;
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    li {
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        background-color: #1166cc;
        font-size: 0.86rem;
        strong {
            font-size: 1rem;
        }
    }
}

.calendar-view { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 1rem 0;
}

.calendar-month {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    border: 1px #eee solid;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.1);
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
button {
    border-radius: 3px;
    border: 0;
    background: rgb(36, 148, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
}
input {
    border-radius: 3px;
    border: 1px #ddd solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1rem;
}
.input-group {
    display: flex;
    button, input {
        border-radius: 0;
    }
    *:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    *:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
.month-name {
    grid-area: 1 / 1 / 2 / 8;
    line-height: 5rem;
    font-size: 1.4rem;
    font-weight: lighter;
    text-transform: capitalize;
    text-align: center;
    color: #00000088;
}

.day-name {
    color: #888;
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.day {
    background: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    justify-content: center;
    padding: 1rem 0;
}
.month-day {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /*background: #2494fd;*/
    color: #333;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pregnant-week {
    font-size: 0.7rem;
    color: #1b558b;
    line-height: 1rem;
}
.pregnant-week strong {
    font-size: 0.8rem;
    vertical-align: middle;
}
.holiday {
    border-radius: 8px;
}
.holiday .month-day{
    color: red;
    font-weight: bold;
}
.weekend .month-day{
    color: red;
    font-weight: lighter;
}
.today {
    background: rgba(36, 253, 233, 0.69);
}
.fulfill {
    background: rgba(253, 195, 36, 0.753);
}